GM12878/P/
GM12878/P_kmeans_ari_curves/
public_data/
*.log
*.ipynb_checkpoints
*.ipynb

# Python compiled files and cache
__pycache__/
*.py[cod]
*.pyc

# Large genomic binary files
GM12878/*.bigwig
GM12878/*.bw

# Spreadsheets / large data files
*.xlsx
